.color1 {
  background-color: #e8bd3b;
}

.color2 {
  background-color: #e89b31;
}

.color3 {
  background-color: #e87927;
}

.color4 {
  background-color: #e26337;
}

.color5 {
  background-color: #db4c46;
}

.color6 {
  background-color: #c5423e;
}

.color7 {
  background-color: #af3736;
}

.color8 {
  background-color: #7f3449;
}

.color9 {
  background-color: #4f315b;
}

.color10 {
  background-color: #462752;
}

.color11 {
  background-color: #3d1c49;
}

.color12 {
  background-color: #1f0e25;
}

.board-container {
  max-width: 650px;
}
